@layer theme, base, mui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: #c9a66b;
}

body {
  min-height: 100vh;
  background: #09090b;
}
